# MongoDB Settings
MONGODB_CONNECTION_STRING=your_mongodb_connection_string
MONGODB_DATABASE_NAME=ReadXDb

# JWT Settings
JWT_SECRET=your_jwt_secret_key_long_enough
JWT_ISSUER=ReadXApi
JWT_AUDIENCE=ReadXUsers
JWT_EXPIRY_MINUTES=1440
